/* 
| Blue —    #009eff
| Green —   #63c966
| Orange —  #ff9700
| BG Gray — #f4f5f0
| Ft Gray — #2d2d2d
*/

body {background: #f4f5f0 url('../images/bg.png') repeat; font-family: 'Proxima' !important; margin: 0;}

html, body {height: 100%;}
#container {min-height: 100%; position: relative;}
#body {padding-bottom: 218px;} 
#footer {background:  url('../images/footer-bg.png') top center repeat; height: 218px; padding-top: 35px; position: absolute; bottom: 0; width:100%; min-width: 940px; color: #fff;}
#footer a {font-weight: bold;}

h1.oswald, h2.oswald, h3.oswald, h4.oswald, h5.oswald, h6.oswald {font-family: 'Oswald';}

a, a:focus { color: #9f2e21; }
a:hover { color: #a7091b; }
p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {text-decoration: underline;}

p.bold-gray {font-weight:900; color: #a6a6a6;}

#top-contact-bg { font-family: 'Oswald'; background: #007ac1; color: white;}

#top-contact-cnt {width: 940px; margin: 0px auto; padding: 8px 0;}
#top-contact-cnt h2 {font-size: 36px; display: inline; font-family: 'Oswald'; color: white;}
#top-contact-cnt span {font-size: 16px;}

#top-area {width: 940px; margin: 20px auto;}

#social-media-cnt {height:32px; width: 100%;}
#social-media {height: 100%; float: right; margin: 5px 0 0;}

#canyon-lake-relo {width: 50%; height: 71px; float: left; font-size: 50px; margin-top: 30px;}
#contact-info {height: 83px; padding-top: 25px; float: right; width: 50%; text-align: right; font-size: 40px; font-weight: bold; clear: both;}
#contact-info p {font-size: 17px; font-weight:normal; margin-bottom: 0; margin-top: -6px;}

#navbar {width: 940px; height: 54px; margin: 0 auto; clear: both; border: #e6e6e6 1px solid; margin-bottom: 27px; background: #fff; font-family: 'Oswald';}
.navbar {}
.navbar > a > li {padding: 12px 0px; float: left; display: block; position: relative; color: #444; font-size: 18px; text-align: center;}
.navbar > a > li:hover, .navbar > a > li.active {background: #ff9700; color: white;}

.navhome  {width:102px; }
.navski   {width:151px; }
.navgolf  {width:88px; }
.navpark  {width:168px; }
.navlodge {width:102px; }
.navclub  {width:99px; }
.navlist  {width:113px; }
.navcont  {width:115px; }

#banner-cnt {width: 940px; margin: 0 auto; }
#banner {width: 643px; height: 351px; float: left; border-left: #c3c3c3 1px solid; border-top: #c3c3c3 1px solid; border-bottom: #c3c3c3 1px solid; margin-bottom: 24px;}
#banner-right {width: 295px; height: 351px; padding: 28px; background: #63c966; float: left; color: #fff; border-right: #c3c3c3 1px solid; border-top: #c3c3c3 1px solid; border-bottom: #c3c3c3 1px solid;}
#banner-right h1, #banner-right h2, #banner-right h3, #banner-right h4, #banner-right h5, #banner-right h6, #banner-right p, #banner-right label {color: #fff; }
#banner-right .inline {display: inline-block; width: 45%; }
#banner-right .inline.first {margin-right:4%;}
#banner-right .inline.last {margin-left:4%;}


.radius8 {-webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px;}

.btn-three {width: 306px; padding: 20px; float: left; border: #e6e6e6 1px solid; background: #fff; }
.btn-three.mid {margin: 0 11px;}

.btn-three img {margin-bottom: 12px;}
.btn-three, .btn-three h4 {color: #424242;}


.listing {margin-bottom: 12px !important;}
.listing-address {background: #009eff; padding: 3px 16px 4px; color: white; display: inline-block; margin-top: 4px; font-weight: bold; }
.listing p {margin-top: 18px;}
.listing img {border: #e6e6e6 1px solid; padding: 3px; background: #fff;}



.row { max-width: none !important; }

img.border {background: #fff; padding: 3px; border: #c3c3c3 1px solid;}
a img.border:hover {background:#9f2e21;}
img.center {margin-left: auto; margin-right: auto;}
.no-red-a {border: none; background: none;}

ul, ol, dl { list-style-position: inside; }

h1,h2,h3,h4,h5,h6 {font-family: 'Proxima'; margin-top: 0px;}
h1.center,h2.center,h3.center,h4.center,h5.center,h6.center {text-align: center;}
h1.white,h2.white,h3.white,h4.white,h5.white,h6.white, p.white {color: #fff; }

#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {color: #dedede;}

p.semibold {font-weight: 600;}
          
h1.shadow,h2.shadow,h3.shadow,h4.shadow,h5.shadow,h6.shadow { 
  -webkit-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); 
     -moz-text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); 
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);}
          
h2.fifty {font-size: 50px;}
p.twelve {font-size: 12px; line-height: 14px;}
          
h2.top {font-size: 32px;}
h3.top {font-size: 26px; font-weight: 600;}
          
h1.blue,h2.blue,h3.blue,h4.blue,h5.blue,h6.blue {color: #366fb6;}
h1.light-blue,h2.light-blue,h3.light-blue,h4.light-blue,h5.light-blue,h6.light-blue {color: #95bbe2;}
h1.notbold,h2.notbold,h3.notbold,h4.notbold,h5.notbold,h6.notbold {font-weight:400;}
h1.inline,h2.inline,h3.inline,h4.inline,h5.inline,h6.inline {display:inline;}

.icon-header { height:35px; display: table; margin-bottom: 12px; }
.icon-header h3 { padding-left: 6px; display:table-cell; vertical-align: middle; }
.title-header { height: 70px; display: table; margin-bottom: 36px; margin-top: -17px; }
.title-header h1, .title-header h2, .title-header h3, .title-header h4, .title-header h5, .title-header h6 { display:table-cell; vertical-align: middle; }

hr {background: #dcdcdc; color: #dcdcdc; border-color: #dcdcdc;}
#footer hr {background: #4d4d4d; color: #4d4d4d; border-color: #4d4d4d; }
#footer-links hr {margin-top: 10px; margin-bottom: 10px;}
#footer-links p {margin: 0;}

#footer-contact h3 {font-size:55px; font-weight: bold; margin-bottom: 0; line-height: 44px; padding-bottom:0;}
#footer-contact h4 {font-size:26px; color:#919191; margin-top: 0; font-weight: 400; line-height: 28px; padding-top:0; margin-bottom: 24px;}
#footer-contact h5 {font-size:30px; color:#d4d4d4; font-weight: 400;}


  .mrg0 {margin: 0px !important;}
	.mrg5 {margin: 0 5px;}
	.mrg8 {margin: 0 8px;}
	.mrg10 {margin: 0 10px;}
	.mrg12 {margin: 0 12px;}
	.mrg15 {margin: 0 15px;}
	
	.mt0 {margin-top: 0 !important;}
	.mt5 {margin-top: 5px;}
	.mt8 {margin-top: 8px;}
	.mt10 {margin-top: 10px;}
	.mt12 {margin-top: 12px;}
	.mt15 {margin-top: 15px;}
	.mt17 {margin-top: 17px;}
	.mt20 {margin-top: 20px;}
	.mt25 {margin-top: 25px;}
	.mt30 {margin-top: 30px;}
	.mt40 {margin-top: 40px;}
	
	.mr0 {margin-right: 0 !important;}
	.mr4 {margin-right: 4px;}
	.mr5 {margin-right: 5px;}
	.mr8 {margin-right: 8px;}
	.mr10 {margin-right: 10px;}
	.mr11 {margin-right: 11px;}
	.mr12 {margin-right: 12px;}
	.mr15 {margin-right: 15px;}
	.mr20 {margin-right: 20px;}
	.mr25 {margin-right: 25px;}
	.mr30 {margin-right: 30px;}
	.mr40 {margin-right: 40px;}
	.mr50 {margin-right: 50px;}
	
	.mb0 {margin-bottom: 0 !important;}
	.mb5 {margin-bottom: 5px;}
	.mb8 {margin-bottom: 8px;}
	.mb10 {margin-bottom: 10px;}
	.mb12 {margin-bottom: 12px;}
	.mb15 {margin-bottom: 15px;}
	.mb20 {margin-bottom: 20px !important;}
	
	.ml0 {margin-left: 0 !important;}
	.ml5 {margin-left: 5px;}
	.ml8 {margin-left: 8px;}
	.ml10 {margin-left: 10px;}
	.ml12 {margin-left: 12px;}
	.ml15 {margin-left: 15px;}
	.ml30 {margin-left:30px;}
	
	
	.pad0 {padding: 0px !important;}
	.pad5 {padding: 5px;}
	.pad8 {padding: 8px;}
	.pad10 {padding: 10px;}
	.pad12 {padding: 12px;}
	.pad15 {padding: 15px;}
	.pad20 {padding: 20px;}
	.pad25 {padding: 25px;}
	.pad30 {padding: 30px;}
	
	.pt0 {padding-top: 0 !important;}
	.pt5 {padding-top: 5px;}
	.pt8 {padding-top: 8px;}
	.pt10 {padding-top: 10px;}
	.pt12 {padding-top: 12px;}
	.pt15 {padding-top: 15px;}
	.pt17 {padding-top: 17px;}
	.pt20 {padding-top: 20px;}
	.pt25 {padding-top: 25px;}
	.pt30 {padding-top: 30px;}
	
	.pr0 {padding-right: 0 !important;}
	.pr4 {padding-right: 4px;}
	.pr5 {padding-right: 5px;}
	.pr8 {padding-right: 8px;}
	.pr10 {padding-right: 10px;}
	.pr12 {padding-right: 12px;}
	.pr15 {padding-right: 15px;}
	
	.pb0 {padding-bottom: 0 !important;}
	.pb5 {padding-bottom: 5px;}
	.pb8 {padding-bottom: 8px;}
	.pb10 {padding-bottom: 10px;}
	.pb12 {padding-bottom: 12px;}
	.pb15 {padding-bottom: 15px;}
	.pb20 {padding-bottom: 20px !important;}
	
	.pl0 {padding-left: 0 !important;}
	.pl5 {padding-left: 5px;}
	.pl8 {padding-left: 8px;}
	.pl10 {padding-left: 10px;}
	.pl12 {padding-left: 12px;}
	.pl15 {padding-left: 15px;}
	.pl30 {padding-left:30px;}
	
	.border-rt {border-right: 1px dashed #4d4d4d;}
	.border-lt {border-left: 1px dashed #4d4d4d;}
	
	.clear {clear: both;}
	.clear25 {height:25px; width: 100%; clear: both;}
	.clear75 {height:75px; width: 100%; clear: both;}
	
	
	



input[type="text"].sb-small, input[type="password"].sb-small, input[type="date"].sb-small, input[type="datetime"].sb-small, input[type="email"].sb-small, input[type="number"].sb-small, input[type="search"].sb-small, input[type="tel"].sb-small, input[type="time"].sb-small, input[type="url"].sb-small, textarea.sb-small { 
  font-size: 13px; 
  margin: 0 0 8px 0; 
  padding: 6px; 
  height: 24px; 
}


/* Normal Buttons ---------------------- */
.button { background: #ff9700; border: 1px solid #ff9700; color: #fff; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;  
  webkit-transition: none !important; -moz-transition: none !important; -o-transition: none !important; transition: none !important;
}
.button:hover, .button:focus { color: #ff9700; background-color: #fff;}
.button:active { -webkit-box-shadow: 0; -moz-box-shadow: 0; box-shadow: 0; }
.button:focus { -webkit-box-shadow: none ; color: white; }





/* Custom Panel Styles */

.panel.dark { background: #f2f2f2; border: solid 1px #dadada; padding: 10px; }
.panel.light { background: #fff; border: solid 1px #ccc; padding: 10px; margin-top: 2px;}
.panel.orange { background: #f2d7a1; border: solid 1px #efa418; padding: 10px; margin-top: 2px;}
.panel.green {background: #63c966; color: #fff;}
.panel.radius3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;}
.panel.radius15 { -webkit-border-radius: 15px; -moz-border-radius: 15px; -ms-border-radius: 15px; -o-border-radius: 15px; border-radius: 15px;}
.video-btm {padding-top: 8px;}

@font-face {
font-family: 'Proxima';
	src: url(../fonts/proximanova-regular-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regular-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regular-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regular-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regular-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-style: italic;
	src: url(../fonts/proximanova-regitalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-regitalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-regitalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-regitalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-regitalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 300;
	src: url(../fonts/proximanova-light-webfont.eot?1307578394);
	src: url('../fonts/proximanova-light-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-light-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-light-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-light-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	src: url(../fonts/proximanova-semibold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 600;
	font-style: italic;
	src: url(../fonts/proximanova-semibolditalic-webfont.eot?1307578394);
	src: url('../fonts/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-semibolditalic-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-semibolditalic-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	src: url(../fonts/proximanova-bold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-bold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-bold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-bold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-bold-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: bold;
	font-style: italic;
	src: url(../fonts/proximanova-boldit-webfont.eot?1307578394);
	src: url('../fonts/proximanova-boldit-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-boldit-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-boldit-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-boldit-webfont.svg#webfont2rpW2ohz') format('svg')
}
@font-face {
	font-family: 'Proxima';
	font-weight: 900;
	src: url(../fonts/proximanova-extrabold-webfont.eot?1307578394);
	src: url('../fonts/proximanova-extrabold-webfont.eot?iefix') format('eot'),url(../fonts/proximanova-extrabold-webfont.woff?1307578394) format('woff'),url(../fonts/proximanova-extrabold-webfont.ttf?1307578394) format('truetype'),url('../fonts/proximanova-extrabold-webfont.svg#webfont2rpW2ohz') format('svg')
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Light-webfont.eot');
    src: url('Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Oswald-Light-webfont.woff') format('woff'),
         url('Oswald-Light-webfont.ttf') format('truetype'),
         url('Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: 300;

}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Regular-webfont.eot');
    src: url('Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Oswald-Regular-webfont.woff') format('woff'),
         url('Oswald-Regular-webfont.ttf') format('truetype'),
         url('Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Bold-webfont.eot');
    src: url('Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Oswald-Bold-webfont.woff') format('woff'),
         url('Oswald-Bold-webfont.ttf') format('truetype'),
         url('Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: bold;

}

/* Shared styles */

.drop-shadow {
  position:relative;

  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before, .drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

        
        
/* Curved shadows */

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.curved-vt-2:before {
  right:0;
}

.curved-hz-1:before {
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}

.curved-hz-2:before {
  top:0;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}


/* ORBIT */
.orbit-wrapper .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }
.orbit-wrapper:hover .slider-nav span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

#featured { background: url('../images/foundation/orbit/loading.gif') center center #000 no-repeat; height: 350px; margin-bottom: 40px;}
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }

/* Bullet Nav ---------------------- */
ul.orbit-bullets li { margin-left: 2px; background: #252525; width: 32px; height: 6px; }
ul.orbit-bullets li.active { background: #2c91ae; }

.staging-bn ul.orbit-bullets li.active,
.gallery-bn ul.orbit-bullets li.active
  { background: #2c91ae; }

.redesign-bn ul.orbit-bullets li.active,
.contact-bn ul.orbit-bullets li.active
  { background: #6eb450; }

.home-bn ul.orbit-bullets li.active, 
.services-bn ul.orbit-bullets li.active 
  { background: #db3c37; }

.row { width: 940px; max-width: 940px; min-width: 0px; margin: 0 auto; }

@media only screen and (max-width: 767px) { .nav-bar { height: auto; }
  .nav-bar > li { float: left; }